@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<div class="block">
    <img class="glasses" src="~/img/glasses.png" />
</div>*@
<div class="container">
    <h3>About Me</h3>


    <img class="about-img"src="~/img/KatyPic1.jpg" />
    <div class="row">
        <div class="col-sm-6 about-text about-text1">
            <p>
                I am a Junior Web Developer and former Sign Language Interpreter, and am currently a student at the Epicodus Coding Bootcamp in Seattle. For the last several years, I have worked with the Deaf community providing communications access as an interpreter and volunteering with social services and education. I have a passion for serving others and making sure everyone has equal access to information.
            </p>
        </div>
        <div class="col-sm-6 about-text2 about-text">
            <p>
                Programming is an exciting way for me to use logic and innovation to make beautiful, intuitive and seamlessly functional web content for all. I love the challenge inherent in development, from the thoughtful presentation of the front-end to the complex logic of the back-end. Solving a difficult problem, and seeing a web page function the way you want it to, is an amazing feeling.
            </p>
        </div>
    </div>
</div>