@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <br />
<br />
<br />
<br />
<div class="container">
    <div class="results">
    @foreach (var project in Model)
    {
        <div class="col-sm-7 project">
            <div class="project-info">
                <h2>Project: <strong>@project.Name</strong></h2>
                <h4>Programming Language Used: @project.Language</h4>
                <a href="@project.Html_Url">Check out the @project.Name repository!</a>
            </div>
        </div>
        
    }
    </div>
</div>