@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <h3>Landing Page</h3>
    <img src="https://static.pexels.com/photos/172177/pexels-photo-172177.jpeg" />
    <hr />

    @Html.ActionLink("About", "About")
    <br />
    @Html.ActionLink("Projects", "Projects")

