@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <div class="container">
        <h3  class="move-body-down"></h3>
  
        @Html.ActionLink("About", "About")
        <br />
        @Html.ActionLink("Projects", "Projects")
    </div>


    <div class="container rendered-body">
        <h3>I am a junior web devloper looking for a position with a passionate and collaborative company. </h3>
    </div>
</div>