@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container rendered-body">
    <h3>Landing Page</h3>
    <img src="https://static.pexels.com/photos/172177/pexels-photo-172177.jpeg" />
    <hr />

    @Html.ActionLink("About", "About")
    <br />
    @Html.ActionLink("Projects", "Projects")
</div>
    <div class="block">
        <img class="glasses" src="~/img/glasses.png" />
    </div>

<div class="container rendered-body">
    <p>
        The Kuiper belt (/ˈkaɪpər/ or Dutch pronunciation: ['kœy̯pǝr])[1] sometimes called the Edgeworth–Kuiper belt, is a circumstellar disc in the Solar System beyond the (known) planets, extending from the orbit of Neptune (at 30 AU) to approximately 50 AU from the Sun.[2] It is similar to the asteroid belt, but it is far larger—20 times as wide and 20 to 200 times as massive.[3][4] Like the asteroid belt, it consists mainly of small bodies, or remnants from the Solar System's formation. While many asteroids are composed primarily of rock and metal, most Kuiper belt objects are composed largely of frozen volatiles (termed "ices"), such as methane, ammonia and water. The Kuiper belt is home to three officially recognized dwarf planets: Pluto, Haumea, and Makemake. Some of the Solar System's moons, such as Neptune's Triton and Saturn's Phoebe, are thought to have originated in the region.[5][6]

        The Kuiper belt was named after Dutch-American astronomer Gerard Kuiper, though he did not predict its existence. In 1992, 1992 QB1 was discovered, the first Kuiper belt object (KBO) since Pluto.[7] Since its discovery, the number of known KBOs has increased to over a thousand, and more than 100,000 KBOs over 100 km (62 mi) in diameter are thought to exist.[8] The Kuiper belt was initially thought to be the main repository for periodic comets, those with orbits lasting less than 200 years. Studies since the mid-1990s have shown that the belt is dynamically stable, and that comets' true place of origin is the scattered disc, a dynamically active zone created by the outward motion of Neptune 4.5 billion years ago;[9] scattered disc objects such as Eris have extremely eccentric orbits that take them as far as 100 AU from the Sun.[nb 1]
    </p>



    <p>
        The Kuiper belt (/ˈkaɪpər/ or Dutch pronunciation: ['kœy̯pǝr])[1] sometimes called the Edgeworth–Kuiper belt, is a circumstellar disc in the Solar System beyond the (known) planets, extending from the orbit of Neptune (at 30 AU) to approximately 50 AU from the Sun.[2] It is similar to the asteroid belt, but it is far larger—20 times as wide and 20 to 200 times as massive.[3][4] Like the asteroid belt, it consists mainly of small bodies, or remnants from the Solar System's formation. While many asteroids are composed primarily of rock and metal, most Kuiper belt objects are composed largely of frozen volatiles (termed "ices"), such as methane, ammonia and water. The Kuiper belt is home to three officially recognized dwarf planets: Pluto, Haumea, and Makemake. Some of the Solar System's moons, such as Neptune's Triton and Saturn's Phoebe, are thought to have originated in the region.[5][6]

        The Kuiper belt was named after Dutch-American astronomer Gerard Kuiper, though he did not predict its existence. In 1992, 1992 QB1 was discovered, the first Kuiper belt object (KBO) since Pluto.[7] Since its discovery, the number of known KBOs has increased to over a thousand, and more than 100,000 KBOs over 100 km (62 mi) in diameter are thought to exist.[8] The Kuiper belt was initially thought to be the main repository for periodic comets, those with orbits lasting less than 200 years. Studies since the mid-1990s have shown that the belt is dynamically stable, and that comets' true place of origin is the scattered disc, a dynamically active zone created by the outward motion of Neptune 4.5 billion years ago;[9] scattered disc objects such as Eris have extremely eccentric orbits that take them as far as 100 AU from the Sun.[nb 1]

        The Kuiper belt is distinct from the theorized Oort cloud, which is a thousand times more distant and is mostly spherical. The objects within the Kuiper belt, together with the members of the scattered disc and any potential Hills cloud or Oort cloud objects, are collectively referred to as trans-Neptunian objects (TNOs).[12]

        Pluto is the largest and most massive member of the Kuiper belt, and the largest and the second-most-massive known TNO, surpassed only by Eris in the scattered disc.[nb 1] Originally considered a planet, Pluto's status as part of the Kuiper belt caused it to be reclassified as a dwarf planet in 2006. It is compositionally similar to many other objects of the Kuiper belt, and its orbital period is characteristic of a class of KBOs, known as "plutinos", that share the same 2:3 resonance with Neptune.
    </p>


    <p>
        The Kuiper belt (/ˈkaɪpər/ or Dutch pronunciation: ['kœy̯pǝr])[1] sometimes called the Edgeworth–Kuiper belt, is a circumstellar disc in the Solar System beyond the (known) planets, extending from the orbit of Neptune (at 30 AU) to approximately 50 AU from the Sun.[2] It is similar to the asteroid belt, but it is far larger—20 times as wide and 20 to 200 times as massive.[3][4] Like the asteroid belt, it consists mainly of small bodies, or remnants from the Solar System's formation. While many asteroids are composed primarily of rock and metal, most Kuiper belt objects are composed largely of frozen volatiles (termed "ices"), such as methane, ammonia and water. The Kuiper belt is home to three officially recognized dwarf planets: Pluto, Haumea, and Makemake. Some of the Solar System's moons, such as Neptune's Triton and Saturn's Phoebe, are thought to have originated in the region.[5][6]

        The Kuiper belt was named after Dutch-American astronomer Gerard Kuiper, though he did not predict its existence. In 1992, 1992 QB1 was discovered, the first Kuiper belt object (KBO) since Pluto.[7] Since its discovery, the number of known KBOs has increased to over a thousand, and more than 100,000 KBOs over 100 km (62 mi) in diameter are thought to exist.[8] The Kuiper belt was initially thought to be the main repository for periodic comets, those with orbits lasting less than 200 years. Studies since the mid-1990s have shown that the belt is dynamically stable, and that comets' true place of origin is the scattered disc, a dynamically active zone created by the outward motion of Neptune 4.5 billion years ago;[9] scattered disc objects such as Eris have extremely eccentric orbits that take them as far as 100 AU from the Sun.[nb 1]

        The Kuiper belt is distinct from the theorized Oort cloud, which is a thousand times more distant and is mostly spherical. The objects within the Kuiper belt, together with the members of the scattered disc and any potential Hills cloud or Oort cloud objects, are collectively referred to as trans-Neptunian objects (TNOs).[12]

        Pluto is the largest and most massive member of the Kuiper belt, and the largest and the second-most-massive known TNO, surpassed only by Eris in the scattered disc.[nb 1] Originally considered a planet, Pluto's status as part of the Kuiper belt caused it to be reclassified as a dwarf planet in 2006. It is compositionally similar to many other objects of the Kuiper belt, and its orbital period is characteristic of a class of KBOs, known as "plutinos", that share the same 2:3 resonance with Neptune.
    </p>
    <p>
        The Kuiper belt (/ˈkaɪpər/ or Dutch pronunciation: ['kœy̯pǝr])[1] sometimes called the Edgeworth–Kuiper belt, is a circumstellar disc in the Solar System beyond the (known) planets, extending from the orbit of Neptune (at 30 AU) to approximately 50 AU from the Sun.[2] It is similar to the asteroid belt, but it is far larger—20 times as wide and 20 to 200 times as massive.[3][4] Like the asteroid belt, it consists mainly of small bodies, or remnants from the Solar System's formation. While many asteroids are composed primarily of rock and metal, most Kuiper belt objects are composed largely of frozen volatiles (termed "ices"), such as methane, ammonia and water. The Kuiper belt is home to three officially recognized dwarf planets: Pluto, Haumea, and Makemake. Some of the Solar System's moons, such as Neptune's Triton and Saturn's Phoebe, are thought to have originated in the region.[5][6]

        The Kuiper belt was named after Dutch-American astronomer Gerard Kuiper, though he did not predict its existence. In 1992, 1992 QB1 was discovered, the first Kuiper belt object (KBO) since Pluto.[7] Since its discovery, the number of known KBOs has increased to over a thousand, and more than 100,000 KBOs over 100 km (62 mi) in diameter are thought to exist.[8] The Kuiper belt was initially thought to be the main repository for periodic comets, those with orbits lasting less than 200 years. Studies since the mid-1990s have shown that the belt is dynamically stable, and that comets' true place of origin is the scattered disc, a dynamically active zone created by the outward motion of Neptune 4.5 billion years ago;[9] scattered disc objects such as Eris have extremely eccentric orbits that take them as far as 100 AU from the Sun.[nb 1]

        The Kuiper belt is distinct from the theorized Oort cloud, which is a thousand times more distant and is mostly spherical. The objects within the Kuiper belt, together with the members of the scattered disc and any potential Hills cloud or Oort cloud objects, are collectively referred to as trans-Neptunian objects (TNOs).[12]

        Pluto is the largest and most massive member of the Kuiper belt, and the largest and the second-most-massive known TNO, surpassed only by Eris in the scattered disc.[nb 1] Originally considered a planet, Pluto's status as part of the Kuiper belt caused it to be reclassified as a dwarf planet in 2006. It is compositionally similar to many other objects of the Kuiper belt, and its orbital period is characteristic of a class of KBOs, known as "plutinos", that share the same 2:3 resonance with Neptune.
    </p>
    </div>