@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Projects</h3>

<form class="project" action="GetProjects">
    <button type="submit">Submit</button>
</form>

<div id="search-result">



<br />
@Html.ActionLink("Home", "Index")
