

img {
    height: 600px;

}

.about-img {
    margin-top: 200px !important;
    margin-left: 23%;
    margin-right: auto;
}

h1 a {
    color: #066e7b;
}

h1 a:hover {
    color: #066e7b;
    text-decoration: none;
}

.jumbo-custom {
    text-align: center;
    background-color: white;
    position: fixed;
    width: 100%;
    position-top: 0px;
}

.row {
    margin-top: 50px;
}

/*.glasses {
    width: 100vw;
    height: auto;
}

.block {
    margin-top: 880px;
    z-index: 1;
    text-align: center;
    position: fixed;
}*/

/*.col-sm-4 {
    margin-left: 10px;
    margin-top: 90px;
}

.about-text2 {
    margin-left: 290px;
}*/
