

img {
    height: 600px;

}

.about-img {
    margin-top: 200px !important;
    margin-left: 23%;
    margin-right: auto;
}

h1 a {
    color: #066e7b;
}

h1 a:hover {
    color: #066e7b;
    text-decoration: none;
}

.jumbo-custom {
    text-align: center;
    background-color: white;
    position: fixed;
    width: 100%;
    position-top: 0px;
}

.row {
    margin-top: 50px;
}

.results {
    margin-top: 300px !important;
}

.project {
    border: dotted pink 2px;
    background-image: url("../img/comp.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 470px;
    margin: 10px;
    width: 40%;
}

.project-info {
    width: 200px;
    margin-top: 16%;
    margin-left: 25%;
}