

img {
    height: 600px;

}

.about-img {
    margin-top: 200px !important;
    margin-left: 23%;
    margin-right: auto;
}

h1 a {
    color: white;
    font-size: 90px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

h1 a:hover {
    color: #149096;
    text-decoration: none;
   
}
h2 {
    color: white;
}

.jumbo-custom {
    text-align: center;
    background-image: url("https://static.pexels.com/photos/172177/pexels-photo-172177.jpeg");
    background-size: cover;
    /*background-attachment: fixed;*/
    background-position: center;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.move-body-down {
    margin-top: 300px;
}

.row {
    margin-top: 50px;
}

.results {
    margin-top: 300px !important;
}

.project {
    
    border: dotted pink 2px;
    background-image: url("../img/comp.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 470px;
    margin: 10px;
    margin-left: 29%;
    width: 40%;
}

.project-info {
    width: 200px;
    margin-top: 16%;
    margin-left: 25%;
}

font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Muli', sans-serif;